<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116103328227-r45u31k36hqagkhjedsmloq123p36rku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116103328227-r45u31k36hqagkhjedsmloq123p36rku</string>
	<key>API_KEY</key>
	<string>AIzaSyA4qjXZLdcN7s5McN2lKT1imJRu-ztrOXY</string>
	<key>GCM_SENDER_ID</key>
	<string>116103328227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.softbank.i.qq1041889024.ReviewBooks</string>
	<key>PROJECT_ID</key>
	<string>reviewbooks-98283</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewbooks-98283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116103328227:ios:1425cceac14f9d8ccbb0d6</string>
</dict>
</plist>